<!DOCTYPE html>
<html>
<head>
    <title>Trace</title>
</head>
<body>
<h1>trace</h1>

<script src="scripts/main.js"></script>
<script type="text/javascript">
    main.trace();
</script>
</body>
</html>