.trace {
    
    ul.trace__graph {
        li {
            display: inline-block;
            &::after {
                content: ",";
            }
            &:last-child {
                &::after {
                    content: "";
                }
            }
        }
    }
    
    .trace__link {
        font-weight: normal;
    }
    
    .trace__link--page {
        font-weight: bold;
    }
    
    .trace__item {
        background-color: #ccffcc;
        margin: 1em auto;
    }
    
    .trace__source {
        background-color: white;
        color: black;
        font-family: monospace;
        padding: 1em;
    }
    
    .trace__source {
        display: none;
    }
    .source-button:focus + .trace__source, .trace__source:hover {
        display: block;
    }
}